<div class="main-container">
    <div>
        <app-navbar></app-navbar>
    </div>

    <div class="middle-container">
        <div class="clear-button">
            <button (click)="clearUser()">Clear selected user</button>
        </div>
        <div class="users-container">
            <div class="users-list">
                <app-user-list (eventEmitter)="captureEvent($event)"></app-user-list>
            </div>
            <div class="user-details">
                <app-user-details [user]="selectedUser"></app-user-details>
            </div> 
        </div>
    </div>
    <div>
        <app-footer></app-footer>
    </div>    
</div>
